.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginText {
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 116.7%;
    color: rgba(0, 0, 0, 0.87);
}

.form {
    display: flex;
    flex-direction: column;
}

.username {
    margin: 30px 0;
}

.right {
    background: #E0E0E0;
    width: 80px;
    height: 1px;
}

.left {
    background: #E0E0E0;
    width: 80px;
    height: 1px;
}

.or {
    position: relative;
    bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: #E0E0E0;
}

.link {
    color: #3F51B5;
    text-decoration: none;
}
