.App {
    font-family: sans-serif;
    text-align: center;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 20px;
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}